*.exe filter=lfs diff=lfs merge=lfs -text
KhaoThiClient-Linux-arm64/KhaoThiClient-linux-arm64/KhaoThiClient filter=lfs diff=lfs merge=lfs -text
KhaoThiClient-Linux-x64/KhaoThiClient-linux-x64/KhaoThiClient filter=lfs diff=lfs merge=lfs -text
